In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn.tree import DecisionTreeClassifier
import sklearn.model_selection as ms
from sklearn import preprocessing

%matplotlib inline

Load and join datasets.

In [22]:
bikeStats = pd.read_csv('AdvWorksCusts.csv')
bikeBuyer = pd.read_csv('AW_BikeBuyer.csv')
bikes = pd.merge(bikeStats, bikeBuyer, on='CustomerID')

print(bikes.shape)
print(bikes.CustomerID.unique().shape)
print(bikes['BikeBuyer'].value_counts())
bikes.head()

(16749, 24)
(16404,)
0    11188
1     5561
Name: BikeBuyer, dtype: int64

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,Bachelors,Professional,M,M,1,0,0,2,137947,0
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,Bachelors,Professional,M,S,0,1,3,3,101141,1
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,Bachelors,Professional,M,M,1,1,3,3,91945,0
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,Bachelors,Professional,F,S,0,1,0,0,86688,0
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,Bachelors,Professional,F,S,1,4,5,5,92771,1

In [23]:
bikes.dtypes

CustomerID               int64
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
BikeBuyer                int64
dtype: object

In [24]:
#find unique item values with counts
for col in bikes.columns:
    print(col, "\n", bikes[col].value_counts(), "\n\n")

CustomerID
 17390    4
18175    4
11172    4
22811    4
18689    4
17494    4
11999    4
18719    4
21353    4
25948    4
18083    4
13139    4
14621    4
22774    4
17543    4
11143    4
11442    4
15512    4
24328    4
26358    4
15531    4
13289    4
18797    4
19315    4
26443    4
14477    4
12144    4
18487    4
26600    4
11430    4
        ..
17714    1
19763    1
28007    1
25958    1
19811    1
17762    1
23905    1
21856    1
11615    1
15709    1
13660    1
27991    1
25942    1
19795    1
17746    1
23889    1
21840    1
11599    1
15693    1
13644    1
27975    1
25926    1
19779    1
17730    1
23873    1
11583    1
15677    1
13628    1
25910    1
12294    1
Name: CustomerID, Length: 16404, dtype: int64


Title
 Mr.     43
Ms.     38
Sr.      4
Mrs.     2
Ms       1
Name: Title, dtype: int64


FirstName
 Isabella     91
Lucas        88
Eduardo      88
Marcus       87
Jennifer     87
Richard      86
Alexandra    85
Dalton       85
Katherine    85
Morgan       84
Kaitlyn      82
Chloe        81
Sydney       81
Julia        80
Natalie      79
James        78
Xavier       77
Ian          76
Seth         76
Devin        75
Thomas       74
Blake        72
Jonathan     71
Jose         71
Miguel       70
Amanda       69
Samuel       68
Jessica      68
Edward       68
Abigail      67
             ..
Marty         1
Bernard       1
Niñia         1
Britta        1
Shirleen      1
Lolan         1
Yvonne        1
Sylvia        1
Mike          1
Lorrin        1
Dianne        1
Mandar        1
K.            1
Lloyd         1
Gretchen      1
Jim           1
Irma          1
Norimichi     1
Wilson        1
Stuart        1
Pearlie       1
Scot          1
Birgit        1
Rob           1
Lane          1
Begoña        1
Daisuke       1
Liz           1
Janice        1
Florian       1
Name: FirstName, Length: 662, dtype: int64


MiddleName
 L             1178
A             1163
M             1006
J              919
C              826
E              638
R              607
D              527
S              447
K              327
W              296
G              241
B              239
H              229
T              210
P              206
F              193
V              118
N               91
I               88
O               51
Y               18
Z               13
Q               11
J.               9
L.               5
R.               5
l                5
Uwaifiokun       4
Garner           4
M.               3
K.               3
U                3
N.               2
B.               2
Jan              1
Radu             1
T.               1
Hierro           1
A.               1
F.               1
E.               1
X                1
G.               1
Name: MiddleName, dtype: int64


LastName
 Diaz          193
Hernandez     173
Perez         162
Martinez      157
Torres        157
Xu            154
Gonzalez      154
Martin        150
Sanchez       149
Lopez         147
Rodriguez     146
Garcia        144
Shan          125
Sharma        118
Lal           118
Perry         115
Ross          113
Jai           113
Kumar         113
Bryant        112
Coleman       111
Jenkins       110
Griffin       109
Long          108
Powell        108
Russell       107
Gonzales      107
Alexander     106
Hughes        105
She           105
             ...
Leitão          1
Rousey          1
Samant          1
Sherman         1
Seidel          1
Harui           1
Ruggiero        1
Wadia           1
Yonekura        1
Rusko           1
Narayanan       1
Ruth            1
Sousa           1
Shakespear      1
Sims            1
Serventi        1
Weadock         1
Skelly          1
Umeda           1
Sabella         1
Bebbington      1
Shridhar        1
Stiller         1
Hurtado         1
Truempy         1
Seamans         1
Rodgers         1
Nason           1
Sandidge        1
Song            1
Name: LastName, Length: 363, dtype: int64


Suffix
 Jr.    2
Name: Suffix, dtype: int64


AddressLine1
 Attaché de Presse                  18
Midi-Couleurs                      15
6, route de Marseille              11
68, avenue de l´ Union Centrale    10
Im Himmelsweg 89                   10
88, avenue de l´ Union Centrale    10
8, rue des Vendangeurs              9
Postfach 22 99 99                   9
Heiderweg 4983                      8
Kappellweg 242                      8
2, route de Marseille               8
Helsenbergbogen 6                   8
11, quai de l´ Iton                 8
Kampstr 9859                        8
Postfach 55 00 00                   7
Heidestieg Straße 8664              7
42, impasse Ste-Madeleine           7
11, avenue du Président-Kennedy     7
33, place de la République          6
84, avenue des Ternes               6
Residenz Straße 944                 6
Werftstr 54                         6
1, rue de la Centenaire             6
1, place de Brazaville              6
Hauptstr 2929                       6
8, rue de l´Avenir                  6
44, rue du Départ                   6
Heiderweg 4982                      6
5854 Eagle Way                      5
8470 Cliffside Drive                5
                                   ..
2374 Turning Way                    1
Am Gallberg 404                     1
7245 Roslyn Road                    1
3783 Steven Circle                  1
6917 Del Monte Court                1
3223 Contra Costa Blvd.             1
9116 Sugar Valley Blv.              1
8315 Near Ct.                       1
4185 River Ash Court                1
5497 St. Andrews Way                1
8002 Morgan Territory Road          1
8275 Tono Lane                      1
6706 Ridgeview Dr                   1
3723 Coachman Pl.                   1
Am Gallberg 82                      1
8387 E. Lane Rd.                    1
9818 Frisbie Court                  1
571 Lafayette Drive                 1
7263 Rheem Dr.                      1
5087 Bonita Ave.                    1
Herzogstr 2128                      1
7905 Nottingham Place               1
377 Trees Drive                     1
783 Walter Way                      1
3980 Bridge                         1
21, rue des Ecoles                  1
1500 Grant Street                   1
9752 Jeanne Circle                  1
764 Nahua                           1
9935 San Carlos Avenue              1
Name: AddressLine1, Length: 11879, dtype: int64


AddressLine2
 Verkaufsabteilung        28
Einkaufsabteilung        12
Kreditorenbuchhaltung     9
Unit A                    6
Unit C                    6
# 1                       6
# 2                       6
#3                        6
Unit B                    5
#9                        5
Leiter der Abteilung      5
#6                        4
# 495                     3
# 103                     3
# 4                       3
# 13                      3
#5                        3
Unit E                    3
# 112                     3
# 101                     3
#e                        3
# 19                      2
Buchhaltung               2
#a                        2
# 120                     2
# 18                      2
Unit H                    2
#7                        2
# 174                     2
# 212                     2
                         ..
#60                       1
# 434                     1
#65                       1
# 207                     1
# 123                     1
# A5                      1
Unit B-105                1
# 132                     1
#107                      1
Apt 110c                  1
#905                      1
Space 51                  1
# 21                      1
#119                      1
# 180                     1
# 999                     1
#508                      1
Unit 7c                   1
#4                        1
# 215                     1
Unit 2b                   1
6 Monteira                1
# 110                     1
# 786                     1
# 1211                    1
# 45                      1
#77                       1
# 198                     1
#139                      1
#503                      1
Name: AddressLine2, Length: 154, dtype: int64


City
 London              379
Paris               350
Chula Vista         191
Burien              191
Beaverton           190
Concord             189
Berkeley            183
Bellingham          183
Burlingame          175
Burbank             174
Beverly Hills       173
Cliffside           172
Bremerton           165
Bellflower          164
Berlin              162
Colma               153
Coronado            118
Shawnee             111
York                104
Geelong             103
Sydney              103
Downey              103
Hamburg             101
Cranbourne          101
Townsville          100
Goulburn             99
Caloundra            98
Hervey Bay           98
El Cajon             97
Sunbury              97
                   ...
Citrus Heights        1
Clarkston             1
Branson               1
Chantilly             1
City Of Commerce      1
Chehalis              1
Bluffton              1
Bradenton             1
Carol Stream          1
Baytown               1
Bountiful             1
Charlotte             1
Carrollton            1
Casper                1
Biloxi                1
Cedar City            1
Central Valley        1
Newport Hills         1
Cerritos              1
Clearwater            1
Clay                  1
Byron                 1
Bell Gardens          1
Barstow               1
Braintree             1
Campbellsville        1
College Station       1
Canoga Park           1
Cedar Park            1
Branch                1
Name: City, Length: 270, dtype: int64


StateProvinceName
 California             4023
Washington             2080
England                1727
British Columbia       1427
New South Wales        1421
Oregon                  946
Victoria                813
Queensland              725
Saarland                397
Nordrhein-Westfalen     371
Seine (Paris)           350
Hessen                  334
Hamburg                 277
Seine Saint Denis       261
Nord                    250
South Australia         212
Bayern                  204
Hauts de Seine          171
Yveline                 149
Essonne                 137
Tasmania                 92
Loiret                   52
Seine et Marne           52
Moselle                  49
Garonne (Haute)          28
Val d'Oise               27
Brandenburg              27
Val de Marne             26
Somme                    20
Charente-Maritime        19
Loir et Cher             18
Pas de Calais            15
Alberta                  10
Illinois                  6
Ohio                      4
Texas                     4
New York                  4
Georgia                   3
Maryland                  2
Arizona                   2
Florida                   2
Utah                      2
North Carolina            1
Mississippi               1
Wyoming                   1
Alabama                   1
South Carolina            1
Kentucky                  1
Massachusetts             1
Minnesota                 1
Virginia                  1
Missouri                  1
Name: StateProvinceName, dtype: int64


CountryRegionName
 United States     7088
Australia         3263
United Kingdom    1727
France            1624
Germany           1610
Canada            1437
Name: CountryRegionName, dtype: int64


PostalCode
 98168         191
91910         191
91950         190
97005         190
94519         189
98225         183
94704         183
V9            176
94010         175
90210         173
91502         173
V8Y 1L1       172
V7L 4J4       169
98312         165
90706         164
94014         153
2036          141
92118         118
1002          103
3220          103
90241         103
3977          101
4810          100
2580           99
4551           98
4655           98
92020          97
3429           97
98036          97
98052          97
             ...
10917           1
92311           1
30021           1
98006           1
35203           1
60188           1
29910           1
13041           1
39530           1
34205           1
84010           1
90040           1
42718           1
78613           1
77520           1
2184            1
97015-6403      1
55056           1
31008           1
33755           1
91303           1
44214           1
95610           1
90703           1
31901           1
77840           1
84720           1
43215           1
20151           1
90201           1
Name: PostalCode, Length: 324, dtype: int64


PhoneNumber
 1 (11) 500 555-0118    187
1 (11) 500 555-0113    173
1 (11) 500 555-0114    171
1 (11) 500 555-0115    170
1 (11) 500 555-0112    167
1 (11) 500 555-0111    167
1 (11) 500 555-0117    164
1 (11) 500 555-0116    161
1 (11) 500 555-0119    161
1 (11) 500 555-0110    108
1 (11) 500 555-0169    103
1 (11) 500 555-0161    100
1 (11) 500 555-0131     98
1 (11) 500 555-0174     97
1 (11) 500 555-0182     96
1 (11) 500 555-0145     95
1 (11) 500 555-0164     94
1 (11) 500 555-0188     94
1 (11) 500 555-0177     93
1 (11) 500 555-0147     92
1 (11) 500 555-0178     92
1 (11) 500 555-0180     92
1 (11) 500 555-0162     92
1 (11) 500 555-0139     90
1 (11) 500 555-0191     89
1 (11) 500 555-0157     89
1 (11) 500 555-0184     88
1 (11) 500 555-0146     88
1 (11) 500 555-0194     88
1 (11) 500 555-0125     88
                      ...
751-555-0120             1
177-555-0190             1
837-555-0140             1
816-555-0151             1
755-555-0117             1
780-555-0156             1
187-555-0177             1
272-555-0110             1
934-555-0148             1
526-555-0183             1
969-555-0118             1
205-555-0169             1
920-555-0137             1
114-555-0120             1
907-555-0122             1
382-555-0123             1
146-555-0121             1
126-555-0115             1
101-555-0161             1
191-555-0117             1
647-555-0159             1
157-555-0115             1
135-555-0183             1
604-555-0118             1
116-555-0100             1
729-555-0156             1
869-555-0167             1
379-555-0190             1
909-555-0168             1
365-555-0181             1
Name: PhoneNumber, Length: 7949, dtype: int64


BirthDate
 1957-02-26    11
1973-10-18    11
1966-03-18    10
1965-04-02     9
1967-05-14     9
1972-03-13     9
1962-08-15     9
1971-07-26     9
1960-05-22     9
1962-02-09     9
1956-10-10     9
1966-02-18     8
1960-07-22     8
1955-10-07     8
1947-06-22     8
1958-06-09     8
1973-10-19     8
1970-07-08     8
1973-12-13     8
1969-12-12     8
1975-11-07     8
1958-10-13     8
1970-03-05     8
1945-04-21     8
1970-10-09     8
1971-09-06     8
1961-10-10     8
1964-10-20     8
1965-08-27     8
1957-08-26     8
              ..
1955-12-14     1
1973-04-28     1
1978-05-23     1
1950-08-24     1
1960-10-14     1
1954-04-11     1
1980-06-03     1
1968-01-27     1
1955-07-16     1
1957-03-25     1
1959-08-04     1
1962-11-02     1
1942-08-15     1
1955-04-09     1
1970-09-20     1
1974-01-15     1
1937-12-02     1
1978-07-28     1
1958-12-26     1
1953-02-14     1
1956-10-25     1
1954-04-18     1
1967-08-24     1
1941-08-10     1
1935-12-26     1
1967-06-05     1
1948-12-04     1
1972-07-28     1
1964-12-19     1
1953-07-20     1
Name: BirthDate, Length: 7896, dtype: int64


Education
 Bachelors              4860
Partial College        4550
High School            3016
Graduate Degree        2887
Partial High School    1436
Name: Education, dtype: int64


Occupation
 Professional      5045
Skilled Manual    4119
Management        2766
Clerical          2663
Manual            2156
Name: Occupation, dtype: int64


Gender
 M    8473
F    8276
Name: Gender, dtype: int64


MaritalStatus
 M    9047
S    7702
Name: MaritalStatus, dtype: int64


HomeOwnerFlag
 1    11280
0     5469
Name: HomeOwnerFlag, dtype: int64


NumberCarsOwned
 2    5876
1    4424
0    3833
3    1459
4    1157
Name: NumberCarsOwned, dtype: int64


NumberChildrenAtHome
 0    10122
1     2231
2     1476
3     1084
4      970
5      866
Name: NumberChildrenAtHome, dtype: int64


TotalChildren
 0    4313
2    3220
1    3129
4    2313
3    2016
5    1758
Name: TotalChildren, dtype: int64


YearlyIncome
 46333     6
97398     6
118844    5
106313    5
76220     5
88923     5
82926     5
101542    5
61999     5
43666     5
81064     5
101874    5
90449     4
31553     4
96380     4
66237     4
47002     4
25281     4
117242    4
24797     4
33162     4
112595    4
87565     4
22341     4
61721     4
97616     4
164943    4
138703    4
129497    4
14181     4
         ..
103320    1
48029     1
17068     1
74654     1
54240     1
24752     1
111580    1
27607     1
97237     1
117715    1
82898     1
74702     1
80845     1
101323    1
27591     1
89025     1
74686     1
99258     1
103352    1
58294     1
129973    1
29620     1
121777    1
152496    1
78764     1
33706     1
17314     1
111258    1
109471    1
32768     1
Name: YearlyIncome, Length: 15482, dtype: int64


BikeBuyer
 0    11188
1     5561
Name: BikeBuyer, dtype: int64

In [25]:
#search for empty cells
(bikes.astype(np.object) == '').any()

CustomerID              False
Title                   False
FirstName               False
MiddleName              False
LastName                False
Suffix                  False
AddressLine1            False
AddressLine2            False
City                    False
StateProvinceName       False
CountryRegionName       False
PostalCode              False
PhoneNumber             False
BirthDate               False
Education               False
Occupation              False
Gender                  False
MaritalStatus           False
HomeOwnerFlag           False
NumberCarsOwned         False
NumberChildrenAtHome    False
TotalChildren           False
YearlyIncome            False
BikeBuyer               False
dtype: bool

Feature Engeneering
Transforms BirthDate into Age in 2019.
Takes the AreaCode from the PhoneNumber.

In [26]:
Age = [2019 - int(x[0:4]) for x in bikes.BirthDate]
bikes['Age'] = Age

AreaCode = [int(x[7:10]) if '(' in x else int(x[4:7]) for x in bikes.PhoneNumber]
bikes['AreaCode'] = AreaCode

Sex = [1 if x == 'M' else 0 for x in bikes.Gender]
bikes['Sex'] = Sex

Married = [1 if x == 'M' else 0 for x in bikes.MaritalStatus]
bikes['Married'] = Married

jobs = {'Professional' : 0, 'Skilled Manual' : 1, 'Management' : 2, 'Clerical' : 3, 'Manual' : 4}
JobType = [jobs[x] for x in bikes.Occupation]
bikes['JobType'] = JobType

educ = {'Bachelors ' : 0, 'Partial College' : 1, 'High School' : 2, 'Graduate Degree' : 3, 'Partial High School' : 4}
EducationType = [educ[x] for x in bikes.Education]
bikes['EducationType'] = EducationType

country = {'United States' : 0, 'Australia' : 1, 'United Kingdom' : 2, 'France' : 3, 'Germany' : 4, 'Canada' : 5}
Country = [country[x] for x in bikes.CountryRegionName]
bikes['Country'] = Country

Income = []
for i in bikes['YearlyIncome']:
    if i <= 50000:
        Income.append(0)
    elif i <= 75000:
        Income.append(1)
    elif i <= 100000:
        Income.append(2)
    else:
        Income.append(3)
    #if i <= 30000:
    #    Income.append(0)
    #elif i <= 60000:
    #    Income.append(1)
    #elif i <= 90000:
    #    Income.append(2)
    #else:
    #    Income.append(3)
    
bikes['Income'] = Income 

#ChildrenAtHomeFlag = [0 if x == 0 else 1 for x in bikes.NumberChildrenAtHome]
#bikes['ChildrenAtHomeFlag'] = ChildrenAtHomeFlag

# min age 39 and max age 109
AgeBracket = []
for i in bikes.Age:
    if i < 54:
        AgeBracket.append(0)
    elif i < 69:
        AgeBracket.append(1)
    elif i < 84:
        AgeBracket.append(2)
    else:
        AgeBracket.append(3)
        
bikes['AgeBracket'] = AgeBracket

ChildrenFlag = [0 if x == 0 else 1 for x in bikes.TotalChildren]
bikes['ChildrenFlag'] = ChildrenFlag

#OnePlusCarsFlag = [0 if x <= 1 else 1 for x in bikes.NumberCarsOwned]
#bikes['OnePlusCarsFlag'] = OnePlusCarsFlag

Remove duplicate rows.

In [27]:
bikes.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(bikes.shape)
print(bikes.CustomerID.unique().shape)
print(bikes['BikeBuyer'].value_counts())

(16404, 34)
(16404,)
0    10953
1     5451
Name: BikeBuyer, dtype: int64

In [28]:
labels = ['Country', 'EducationType', 'JobType', 'Sex', 'Married', 'HomeOwnerFlag', 'NumberCarsOwned', 
                            'NumberChildrenAtHome', 'ChildrenFlag', 'Income', 'AgeBracket', 'AreaCode', 'BikeBuyer']
for col in bikes.columns:
    if col not in labels:
        bikes.drop(col, axis=1, inplace=True)
#features = pd.get_dummies(bikes)
print(bikes.shape)
bikes.dtypes

(16404, 13)

HomeOwnerFlag           int64
NumberCarsOwned         int64
NumberChildrenAtHome    int64
BikeBuyer               int64
AreaCode                int64
Sex                     int64
Married                 int64
JobType                 int64
EducationType           int64
Country                 int64
Income                  int64
AgeBracket              int64
ChildrenFlag            int64
dtype: object

In [29]:
#find unique item values with counts
for col in bikes.columns:
    print(col, "\n", bikes[col].value_counts(), "\n\n")

HomeOwnerFlag
 1    11058
0     5346
Name: HomeOwnerFlag, dtype: int64


NumberCarsOwned
 2    5741
1    4325
0    3782
3    1429
4    1127
Name: NumberCarsOwned, dtype: int64


NumberChildrenAtHome
 0    9924
1    2180
2    1455
3    1057
4     943
5     845
Name: NumberChildrenAtHome, dtype: int64


BikeBuyer
 0    10953
1     5451
Name: BikeBuyer, dtype: int64


AreaCode
 555    8398
500    8006
Name: AreaCode, dtype: int64


Sex
 1    8290
0    8114
Name: Sex, dtype: int64


Married
 1    8852
0    7552
Name: Married, dtype: int64


JobType
 0    4922
1    4038
2    2718
3    2597
4    2129
Name: JobType, dtype: int64


EducationType
 0    4758
1    4451
2    2944
3    2851
4    1400
Name: EducationType, dtype: int64


Country
 0    6935
1    3194
2    1709
3    1591
4    1577
5    1398
Name: Country, dtype: int64


Income
 3    4849
0    4495
1    3556
2    3504
Name: Income, dtype: int64


AgeBracket
 0    6812
1    6690
2    2636
3     266
Name: AgeBracket, dtype: int64


ChildrenFlag
 1    12160
0     4244
Name: ChildrenFlag, dtype: int64

In [30]:
bikes.to_csv('BikesProcessed.csv')
bikes.head()

,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,BikeBuyer,AreaCode,Sex,Married,JobType,EducationType,Country,Income,AgeBracket,ChildrenFlag
0,1,0,0,0,500,1,1,0,0,1,3,0,1
1,0,1,3,1,500,1,0,0,0,1,3,1,1
2,1,1,3,0,500,1,1,0,0,1,2,1,1
3,0,1,0,0,500,0,0,0,0,1,2,0,0
4,1,4,5,1,500,0,0,0,0,1,2,0,1

One hot encoding.

labels = ['CountryRegionName', 'Education', 'Occupation', 'Sex', 'Married', 'HomeOwnerFlag', 'NumberCarsOwned', 
                            'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome', 'Age', 'AreaCode', 'BikeBuyer']
for col in bikes.columns:
    if col not in labels:
        bikes.drop(col, axis=1, inplace=True)
features = pd.get_dummies(bikes)
print(features.shape)
features.dtypes

features.to_csv('BikesProcessed.csv')
features.head()

Features that are not included in the dataset:
    'BirthDate', 'CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'AddressLine1', 'AddressLine2', 'PhoneNumber'
    
Code below is based on:
https://www.edx.org/course/principles-of-machine-learning-python-edition

def encode_string(cat_features):
    ## First encode the strings to numeric categories
    enc = preprocessing.LabelEncoder()
    enc.fit(cat_features)
    enc_cat_features = enc.transform(cat_features)
    ## Now, apply one hot encoding
    ohe = preprocessing.OneHotEncoder()
    encoded = ohe.fit(enc_cat_features.reshape(-1,1))
    return encoded.transform(enc_cat_features.reshape(-1,1)).toarray()

categorical_columns = ['StateProvinceName', 'CountryRegionName', 'PostalCode', 'Education', 'Occupation', 
                       'Gender', 'MaritalStatus']

features = encode_string(bikes['City'])
for col in categorical_columns:
    temp = encode_string(bikes[col])
    features = np.concatenate([features, temp], axis = 1)
    
features = np.concatenate([features, np.array(bikes[['HomeOwnerFlag', 'NumberCarsOwned', 
                            'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome', 'Age', 'AreaCode', 'BikeBuyer']])], axis = 1)
    
print(features.shape)
print(features[:2, :])

Save processed data as a new dataset.

processedData = pd.DataFrame(features)
processedData.to_csv('BikesProcessed.csv')
processedData.head()